* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: sans-serif;
  /* border: 5px solid red; */
}

#container {
  display: flex;
  width: auto;
  height: 100vh;
  background-color: red;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #b7094c, #5c4d7d, #0091ad);
}

#calculator-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #0a090981;
  width: 35%;
  height: 70%;
  padding:0% 10px;
  border-radius: 2%;
}

#display {
  display: flex;
  padding: 10px;
  background-color: #0090adc4;
  height: 20%;
  justify-content: flex-end;
  align-items: flex-end;
}

#buttons {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto auto;
  height: 65%;
  padding-top: 10px;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  background-color: #0a09095d;
  border: none;
}

.number:hover {
  background-color: #b7094c;
}

.number:active {
  background-color: #b7094c7c;
}